///
/// Settings
/// Global variable files.
///
@import "settings/palette";
@import "settings/responsive";
@import "settings/spacing";

///
/// Generic
/// Basic reset and low specificty global styles.
///
@import "generic/clearfix";
@import "generic/foundation";

///
/// Utilities
///
@import "utilities/colours";
@import "utilities/spacing";
@import "utilities/visibility";

///
/// Init Spacing.
///
@if length(map-keys($spacing)) {
    @include spacing('', 'none', 0);

    @each $k, $v in $spacing {
        @include spacing('', $k, $v);
    }
}

@if $slab-responsive-spacing == true {
    @each $key, $value in $breakpoints {
        @include media-query($key) {
            @include spacing('#{$key}-', 'none', 0);

            @each $k, $v in $spacing {
                @include spacing('#{$key}-', $k, $v);
            }
        }
    }
}
