////
/// @name spacing
/// @group tools
////

///
/// @name   spacing
/// @type   Mixin
/// @access private
/// @param  {string} $namespace - label of breakpoint
/// @return {css} - human readable namespaced spacing classes
///

@mixin spacing($namespace, $key, $value) {

    .#{$namespace}m-#{$key}      { margin: $value !important; }

    .#{$namespace}mt-#{$key}     { margin-top: $value !important; }
    .#{$namespace}mr-#{$key}     { margin-right: $value !important; }
    .#{$namespace}mb-#{$key}     { margin-bottom: $value !important; }
    .#{$namespace}ml-#{$key}     { margin-left: $value !important; }

    .#{$namespace}my-#{$key}     { margin-top: $value !important; margin-bottom: $value !important; }
    .#{$namespace}mx-#{$key}     { margin-left: $value !important; margin-right: $value !important; }

    .#{$namespace}p-#{$key}      { padding: $value !important; }

    .#{$namespace}pt-#{$key}     { padding-top: $value !important; }
    .#{$namespace}pr-#{$key}     { padding-right: $value !important; }
    .#{$namespace}pb-#{$key}     { padding-bottom: $value !important; }
    .#{$namespace}pl-#{$key}     { padding-left: $value !important; }

    .#{$namespace}py-#{$key}     { padding-top: $value !important; padding-bottom: $value !important; }
    .#{$namespace}px-#{$key}     { padding-left: $value !important; padding-right: $value !important; }

}
