///
/// Simple helper classes for hiding and showing content based on media queries.
///

@each $key, $value in $breakpoints {
    .hide--#{$key} {
        @include media-query(#{$key}) {
            display: none !important;
        }
    }

    .show--#{$key} {
        display: none !important;

        @include media-query(#{$key}) {
            display: initial !important;
        }
    }
}
